{% extends 'H Navbar.html' %}
{% block CssFiles %}
<link rel="stylesheet" href="{{ url_for('static' , filename='') }}">
{% endblock %}
{% block MNav %}
<!---->
{% endblock %}
{% block HRNav %}
<!---->
{% endblock %}
{% block Main%}
<section class="Conatiner">
    <div class="Father">
        <ul>
            <li> <a href="{{ url_for('InsertEmployee') }}"> Add Emploee </a> </li>
            <li> <a href="{{ url_for('ModifyEmployee') }}"> Modify Emploee </a> </li>
            <li> <a href="{{ url_for('RemoveEmployee') }}"> Remove Emploee </a>  </li>
            <li> <a href="{{ url_for('SubmitVaction') }}"> Order Vaction  </a>  </li>
            <li> <a href="{{ url_for('HShowVactions') }}"> Show Vactions  </a>  </li>
            <li> <a href="{{ url_for('HRProfile') }}"> Profile  </a> </li>
        </ul>
    </div>
</section>
{% endblock %}
