{% extends 'Header.html' %} 
{% block CssFiles %}
<link rel="stylesheet" href="{{ url_for('static' , filename='') }}"> 
{% endblock %} 
{% block Body%}
<nav>
    <div class="navbar">
        <ul>
            <li>
                <div class="logo">
                    <img src="{{ url_for('static' , filename='images/hr-logo-zip-file (1)/png/logo-no-background.png') }}">
                </div>
            </li>
            <li> <a href="{{ url_for('HRHome') }}l"> Home </a> </li>
            <li> <a href="{{ url_for('InsertEmployee') }}"> Add Emploee </a> </li>
            <li> <a href="{{ url_for('ModifyEmployee') }}"> Modify Emploee </a> </li>
            <li> <a href="{{ url_for('RemoveEmployee') }}"> Remove Emploee </a>  </li>
            <li> <a href="{{ url_for('SubmitVaction') }}"> Order Vaction  </a>  </li>
            <li> <a href="{{ url_for('HShowVactions') }}"> Show Vactions  </a>  </li>
            <li> <a href="{{ url_for('HRProfile') }}"> Profile  </a> </li>
        </ul>
    </div>
</nav>
{% block Main %}
{% endblock %}
{% endblock %}