{% extends 'M Navbar.html' %}
{% block CssFiles %}
<link rel="stylesheet" href="{{ urlfor('static' , filename='') }}">
{% endblock %}
{% block Main%}
<section class="Conatiner">
    <div class="Father">
        <ul>
            <li> Add HR </li>
            <li> Remove HR </li>
            <li> Modify HR </li>
            <li> Request Vaction </li>
            <li> Show HRs </li>
            <li> Show Employees </li>
            <li> Profile </li>
        </ul>
    </div>
</section>
{% endblock %}
