{% extends 'M Navbar.html' %}
{% block CssFiles %}
<link rel="stylesheet" href="{{ url_for('static' , filename='') }}">
{% endblock %}
{% block Main%}
<section class="Conatiner">
    <div class="Father">
        <ul>
            <li> <a href="{{ url_for('InsertHR') }}"> Add Emploee </a> </li>
            <li> <a href="{{ url_for('ModifyHR') }}"> Modify Emploee </a> </li>
            <li> <a href="{{ url_for('RemoveHR') }}"> Remove Emploee </a>  </li>
            <li> <a href="{{ url_for('MShowVactions') }}"> Show Vactions  </a>  </li>
            <li> <a href="{{ url_for('ShowHRS') }}"> Show HRS  </a> </li>
            <li> <a href="{{ url_for('ShowEmplyooes') }}"> Show Emplyooes  </a> </li>
        </ul>
    </div>
</section>
{% endblock %}
