{% extends 'Header.html' %}
{% block CssFiles %}
<link rel="stylesheet" href="{{ url_for('static' , filename='') }}">
{% endblock %}
{% block Body%}
<nav>
  <div class="navbar">
    <ul>
        <li>
            <div class="logo">
                <img src="{{ url_for('static' , filename='images/hr-logo-zip-file (1)/png/logo-no-background.png') }}">
            </div>
        </li>
        <li> <a href="{{ url_for('MHome') }}l"> Home </a> </li>
        <li> <a href="{{ url_for('InsertHR') }}"> Add Emploee </a> </li>
        <li> <a href="{{ url_for('ModifyHR') }}"> Modify Emploee </a> </li>
        <li> <a href="{{ url_for('RemoveHR') }}"> Remove Emploee </a>  </li>
        <li> <a href="{{ url_for('MShowVactions') }}"> Show Vactions  </a>  </li>
        <li> <a href="{{ url_for('ShowHRS') }}"> Show HRS  </a> </li>
        <li> <a href="{{ url_for('ShowEmplyooes') }}"> Show Emplyooes  </a> </li>
    </ul>
</div>
</nav>
{% block Main %}
{% endblock %}
{% endblock %}