:root {
	--main-color: rgb(0, 128, 255);
	--white-color: azure;
	--shadow-color: rgba(185, 167, 167, 0.134);
	--raduis-size: 20px;
}

.container {
	margin: 2% 15%;
	padding: 5% auto;
	font-weight: 600;
	box-sizing: border-box;
	font-family: cursive;
}


section {
	padding: 20px;
	box-shadow: 3px 3px 3px var(--shadow-color);
	border-radius: var(--raduis-size);
	text-align: center;
}

label {
	font-size: larger;
	font-family: sans-serif;
	color: var(--main-color);
}

input:not([type="submit"]) {
	border: 1.7px solid rgb(232, 229, 229);
	border-radius: 12.5px;
	box-shadow: 2px 2px 2px var(--shadow-color);
	transition: 1s;
	font-size: 16px;
	outline: none;
}

input:hover:not([type="submit"]) {
	box-shadow: -1.5px -2px 2px 0px var(--shadow-color);
}

input:focus:not([type="sumbit"]) {
	border: 2.19px solid rgb(177, 174, 174);
}

.send {
	border: none;
	background-color: var(--main-color);
	padding: 10px;
	font-size: large;
	border-radius: var(--raduis-size);
	transition: 0.56s;
	font-family: cursive;
	color: var(--white-color);
}

.send:hover {
	color: var(--main-color);
	background-color: var(--white-color);
}


:root{
    --Word : ltr;
    --Direction : left;
}
.Container {
    direction: var(--Word);
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.Container .Father{
    float: var(--Direction);
    width: 90%;
    padding: 2.5%;
    margin: 2.5%;
}

@media screen and (min-width:1201px) {
    .Container .Father .Son{
        float: var(--Direction);
        width: 16%;
        padding: 1%;
        margin: 1%;
        background-color: black;
        color: aliceblue;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .Container .Father .Son{
        float: var(--Direction);
        width: 21%;
        padding: 1%;
        margin: 1%;
        background-color: black;
        color: aliceblue;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .Container .Father .Son{
        float: var(--Direction);
        width: 27.333333333%;
        padding: 1.5%;
        margin: 1.5%;
        background-color: black;
        color: aliceblue;
    }
}

@media screen and (min-width:481px) and (max-width:767px) {
    .Container .Father .Son{
        float: var(--Direction);
        width: 42%;
        padding: 2%;
        margin: 2%;
        background-color: black;
        color: aliceblue;
    }
}

@media screen and (max-width:480px) {
    .Container .Father .Son{
        float: var(--Direction);
        width: 90%;
        padding: 2.5%;
        margin: 2.5%;
        background-color: black;
        color: aliceblue;
    }
}